.navbar {
  display: flex;
  background-color: lightsalmon;
  padding: 4px;

  .navbar-link {
    color: white;
    padding: 12px;
    cursor: pointer;
    border-radius: 7px;

    &:hover {
      color: lightgrey;
      background-color: lightseagreen;
    }
  }
}

.menu-button{
  display: none;
}

.menu-button-label {
  display: none;
}



@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }

  .menu-button ~ .navbar{
    display: none;
  }

  .menu-button:checked ~ .navbar {
    display: flex;
  }

  .menu-button-label {
    display: block;
    position: absolute;
    right: 0;

    .box {
      width: 40px;
      height: 40px;
      background-color: lightgreen;
    }


  }

}